.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.items-evenly {
  justify-content: space-evenly;
}
.items-center {
  justify-content: center;
}
.items-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
